## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN'
application_df = application_df.drop(["EIN"], axis=1)

In [3]:
# Determine the number of unique values in each column
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df.APPLICATION_TYPE.value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced use the variable name `application_types_to_replace`
application_types_to_replace = list(application_counts[application_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df.CLASSIFICATION.value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts[classification_counts > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,NAME_13TH BOMB SQUADRON ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [10]:
print('Length of columns: ',(len(application_df.columns)))

Length of columns:  19612

In [11]:
# Split our preprocessed data into our features and target arrays, is_success column is the target
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

C:\Users\benny\AppData\Local\Temp\ipykernel_12172\1605377299.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = application_df.drop(["IS_SUCCESSFUL"],1).values

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [29]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

# Define activation values, early stopping callback and number of input features
number_input_features = len(X_train[0])
activation_values=['relu', 'tanh', 'sigmoid']
early_stopping = tf.keras.callbacks.EarlyStopping(
        monitor='val_loss',
        verbose=2,
        restore_best_weights=True
    )

# Define the model - deep neural net
def build_model(hp):
    model = keras.Sequential()
    activation = hp.Choice('activation', activation_values)
    
    # Add the first hidden layer
    model.add(layers.Dense(units=hp.Int('units', min_value=5, max_value=120, step=1), activation=activation, input_dim=number_input_features))
    
    # Add L2 regularization to layer 2
    l2_weight = hp.Choice('l2_weight', values=[1e-4, 1e-5, 1e-6])
    model.add(layers.Dense(units=hp.Int('units', min_value=5, max_value=80, step=1),
                         activation=activation,
                         kernel_regularizer=keras.regularizers.l2(l2_weight)))
    # Add L2 regularization to layer 3
    model.add(layers.Dense(units=hp.Int('units', min_value=5, max_value=80, step=1),
                        activation=activation,
                        kernel_regularizer=keras.regularizers.l2(l2_weight)))
    
    # Add early stopping to prevent overfitting
    patience = hp.Int('patience', min_value=5, max_value=20)
    early_stopping.patience = patience
    
    # Add the output layer
    model.add(layers.Dense(1, activation='sigmoid'))

    # Compile the model adjusting the learning rate
    model.compile(
        optimizer=keras.optimizers.Adam(
            learning_rate=hp.Choice('learning_rate', values=[1e-2, 1e-3, 1e-4])),
        loss='binary_crossentropy',
        metrics=['accuracy']
    )

    return model

In [30]:
from kerastuner.tuners import RandomSearch

# Create a tuner object to perform the hyperparameter search
tuner = RandomSearch(
    build_model,
    objective='val_accuracy',
    max_trials=10,
    directory='my_tuner',
    project_name='my_project',
    overwrite=True
)

# Run the tuner to search for the best hyperparameters
tuner.search(X_train_scaled, y_train, epochs=50, validation_data=(X_test_scaled, y_test), verbose=2, callbacks=[early_stopping], batch_size=1000)

Trial 10 Complete [00h 00m 11s]
val_accuracy: 0.6426821947097778

Best val_accuracy So Far: 0.7975510358810425
Total elapsed time: 00h 04m 26s

In [18]:
# Get the optimal hyperparameters
best_hps = tuner.get_best_hyperparameters(num_trials=1)[0]
best_hps.values

{'activation': 'sigmoid',
 'units': 29,
 'l2_weight': 1e-06,
 'patience': 7,
 'learning_rate': 0.001}

In [31]:
# Build and train the model with the best hyperparameters
model = tuner.hypermodel.build(best_hps)
model.fit(X_train_scaled, y_train, epochs=100, validation_data=(X_test_scaled, y_test), verbose=2, callbacks=[early_stopping], batch_size=500)

Epoch 1/100
52/52 - 2s - loss: 0.6798 - accuracy: 0.6108 - val_loss: 0.6639 - val_accuracy: 0.7843 - 2s/epoch - 44ms/step
Epoch 2/100
52/52 - 1s - loss: 0.5209 - accuracy: 0.8926 - val_loss: 0.5041 - val_accuracy: 0.7955 - 961ms/epoch - 18ms/step
Epoch 3/100
52/52 - 1s - loss: 0.2074 - accuracy: 0.9614 - val_loss: 0.4507 - val_accuracy: 0.7941 - 949ms/epoch - 18ms/step
Epoch 4/100
52/52 - 1s - loss: 0.1299 - accuracy: 0.9623 - val_loss: 0.4501 - val_accuracy: 0.7953 - 947ms/epoch - 18ms/step
Epoch 5/100
52/52 - 1s - loss: 0.1159 - accuracy: 0.9622 - val_loss: 0.4597 - val_accuracy: 0.7970 - 932ms/epoch - 18ms/step
Epoch 6/100
52/52 - 1s - loss: 0.1097 - accuracy: 0.9618 - val_loss: 0.4683 - val_accuracy: 0.7960 - 925ms/epoch - 18ms/step
Epoch 7/100
52/52 - 1s - loss: 0.1055 - accuracy: 0.9621 - val_loss: 0.4705 - val_accuracy: 0.7964 - 939ms/epoch - 18ms/step
Epoch 8/100
52/52 - 1s - loss: 0.1031 - accuracy: 0.9617 - val_loss: 0.4758 - val_accuracy: 0.7952 - 930ms/epoch - 18ms/step
Epoch 9/100
52/52 - 1s - loss: 0.1014 - accuracy: 0.9619 - val_loss: 0.4840 - val_accuracy: 0.7967 - 938ms/epoch - 18ms/step
Epoch 10/100
52/52 - 1s - loss: 0.0999 - accuracy: 0.9621 - val_loss: 0.4807 - val_accuracy: 0.7960 - 910ms/epoch - 18ms/step
Epoch 11/100
Restoring model weights from the end of the best epoch: 4.
52/52 - 1s - loss: 0.0986 - accuracy: 0.9627 - val_loss: 0.4766 - val_accuracy: 0.7938 - 967ms/epoch - 19ms/step
Epoch 11: early stopping

In [32]:
# Evaluate the model using the test data
model_loss, model_accuracy = model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4501 - accuracy: 0.7953 - 383ms/epoch - 1ms/step
Loss: 0.45005369186401367, Accuracy: 0.7953352928161621

In [34]:
# Export our model to HDF5 file
model.save("AlphabetSoupCharity_optimized.h5")